# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\DOCUMENTOS EDUARDO\SEMILLEROS\SOFKA\Ejercicios Practicos\Spring Boot\Ejercicio Cajero\untitled\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
